body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased
}


/* AQUÍ EMPIEZA PORTADA ANIMACIÓN*/

.gsap-marker-end {
    display: none !important;
}

.gsap-marker-start {
    display: none !important;
}

.gsap-marker-scroller-start {
    display: none !important;
}

.gsap-marker-scroller-end {
    display: none !important;
}


.pin-spacer {
    height: 100%;
}

.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: black;

}

.content {
    overflow-x: hidden;
}

.content .section {
    width: 100%;
    height: 100vh;
}

.content .section.hero {
    background-image: url(/assets/SpaceJourney-interior2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/*AQUÍ TERMINA LA PORTADA*/



/* AQUÍ EMPIEZA NAV */
/* Posicionamiento para que el nav se superponga a la imagen*/


Ajustar el logo si es necesario .logo-container {
    display: flex;
    align-items: self-start;
    left: 0;

}

.logo-SpaceJourney {
    position: absolute;
    top: 20px;
    right: 20px;
    height: auto;
    z-index: 7;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
    justify-self: flex-start;
}

button {
    appearance: none;
    /* Elimina estilos por defecto en iOS y otros sistemas */
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin bordes */
    cursor: pointer;
    outline: none;
    /* Sin contorno al enfocar */
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    /* Hereda el color de texto del padre */
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
    box-shadow: none;
    /* Sin sombras */

}


nav {
    position: absolute;
    --_clr-txt: rgb(255, 255, 255);
    --_clr-txt-svg: rgb(147, 158, 184);
    --_ani-speed: 6s;
    /* Velocidad de rotación del texto */
    display: flex;
    gap: 1rem;
    color: aliceblue;
    z-index: 5;
    opacity: 0;
    /* Oculto al inicio */
    pointer-events: none;
    cursor: pointer;
    top: 6%;
    left: 2%;
    right: 5%;
    justify-content: end;
    border: none;
    
}

nav.show {
    opacity: 1;
    /* Aparece */
    pointer-events: auto;
    /* Permitir interacción */
    transition: opacity 1s ease-in-out;
    border: none;
}




nav>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.5rem;
    text-transform: none;
    font-weight: 300;
    color: aliceblue;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-family: "Space Grotesk", sans-serif;
}

/* Estilo de los elementos dentro del botón */
nav>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;

}

/* Ocultar el ícono hasta el hover */
nav>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
    border: none;
}

/* Hover - Ocultar el texto y mostrar el ícono */
nav>button:hover>span:first-of-type {
    transform: scale(0);
    background-color: transparent;
    border: none;
}

nav>button:hover>span:last-of-type {
    transform: scale(1);
    border: none;
}

/* Estilos del SVG circular */
nav>button>svg {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    opacity: 0;
    text-transform: none;
    transition: all 300ms ease-in-out;
    color: var(--_clr-txt-svg);

    border: none;
}

/* Hover - Mostrar y animar el SVG */
nav>button:focus-visible>svg,
nav>button:hover>svg {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 150ms;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    border: none;
}

/* Animación de rotación para el texto dentro del SVG */
nav>button svg g {
    transform-origin: center;
    animation: rotate var(--_ani-speed) linear infinite;
    border: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* AQUÍ TERMINA NAV */






.sectionTwo {
    background-color: black;
}

/*aqui va carousel*/
.overCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid #111111;
    width: 100%;
    background-color: black;
    height: 500px;
}

.textCarousel {
    margin: 10px;
    width: 400px;
    height: fit-content;
}

.carousel {
    width: 100%;
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 5px 5px 5px 5px;
    box-sizing: border-box;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.aboutUs {
    font-size: 26px;
    color: white;
}

.carousel-container {
    display: flex;
    transition: transform 1.5s ease-in-out;
    position: relative;
}

.carousel-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.75;
    border-radius: 10px;
    margin-top: 100px
}

.carousel-image.active {
    transform: scale(1.2);
    opacity: 1;
    z-index: 2;
    width: 100%;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.carousel-image.inactive {
    transform: scale(0.8);
    opacity: 0.9;
    transform: blur(70%);
    z-index: 1;
}

/*aqui va missions*/



/*FORMULARIO*/
#miFormulario {

    background-color: #111111;
    /* Fondo oscuro */
    color: #fff;
    padding: 90px;
    border-radius: 35%;
    width: 800px;
    margin: 20px auto;
    /* Centrado */

}
.botones2{
    display: flex;
    justify-content: space-around;
}
.botoncito {
    display: flex;
    justify-items: center;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 1px 1px 1px rgba(222, 9, 9, 0.6);
    border-radius: 5px;
    font-size: 16px;

}

/* Estilos para los campos del formulario */
input,
textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo opaco */
    display: none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    z-index: 999;
    /* Asegura que esté sobre todo el contenido */
}

/* Estilo para la ventana emergente personalizada */
.popup {
    background-color: rgb(8, 8, 8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(222, 9, 9, 0.6);
    text-align: center;
}

.popup button {
    margin: 10px;
}