body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F0F2F0;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #FBFBFB;
}


/* AQUÍ EMPIEZA PORTADA ANIMACIÓN*/

.gsap-marker-end {
    display: none !important;
}

.gsap-marker-start {
    display: none !important;
}

.gsap-marker-scroller-start {
    display: none !important;
}

.gsap-marker-scroller-end {
    display: none !important;
}


.pin-spacer {
    height: 100%;
}

.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #111111;

}

.content {
    overflow-x: hidden;
}

.content .section {
    width: 100%;
    height: 100vh;
}

.content .section.hero {
    background-image: url(/assets/SpaceJourney-interior2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/*AQUÍ TERMINA LA PORTADA*/



/* AQUÍ EMPIEZA NAV */
/* Posicionamiento para que el nav se superponga a la imagen*/


Ajustar el logo si es necesario .logo-container {
    display: flex;
    align-items: self-start;
    left: 0;

}

.logo-SpaceJourney {
    position: absolute;
    top: 20px;
    left: 80px;
    height: auto;
    z-index: 7;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
    justify-self: flex-start;
}

button {
    appearance: none;
    /* Elimina estilos por defecto en iOS y otros sistemas */
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin bordes */
    cursor: pointer;
    outline: none;
    /* Sin contorno al enfocar */
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    /* Hereda el color de texto del padre */
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
    box-shadow: none;
    /* Sin sombras */
    font-family: "Space Grotesk", sans-serif;

}


nav {
    position: absolute;
    --_clr-txt: rgb(255, 255, 255);
    --_clr-txt-svg: rgb(147, 158, 184);
    --_ani-speed: 6s;
    /* Velocidad de rotación del texto */
    display: flex;
    gap: 1rem;
    color: aliceblue;
    z-index: 5;
    opacity: 0;
    /* Oculto al inicio */
    pointer-events: none;
    cursor: pointer;
    top: 6%;
    left: 2%;
    right: 5%;
    justify-content: end;
    border: none;

}

nav.show {
    opacity: 1;
    /* Aparece */
    pointer-events: auto;
    /* Permitir interacción */
    transition: opacity 1s ease-in-out;
    border: none;
}




nav>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.5rem;
    text-transform: none;
    font-weight: 300;
    color: aliceblue;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-family: "Space Grotesk", sans-serif;
}

/* Estilo de los elementos dentro del botón */
nav>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;

}

/* Ocultar el ícono hasta el hover */
nav>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
    border: none;
}

/* Hover - Ocultar el texto y mostrar el ícono */
nav>button:hover>span:first-of-type {
    transform: scale(0);
    background-color: transparent;
    border: none;
}

nav>button:hover>span:last-of-type {
    transform: scale(1);
    border: none;
}

/* Estilos del SVG circular */
nav>button>svg {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    opacity: 0;
    text-transform: none;
    transition: all 300ms ease-in-out;
    color: var(--_clr-txt-svg);

    border: none;
}

/* Hover - Mostrar y animar el SVG */
nav>button:focus-visible>svg,
nav>button:hover>svg {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 150ms;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    border: none;
}

/* Animación de rotación para el texto dentro del SVG */
nav>button svg g {
    transform-origin: center;
    animation: rotate var(--_ani-speed) linear infinite;
    border: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* AQUÍ TERMINA NAV */

/*astro muñeco*/

.floating-button {
     display: none; 
     position: fixed;
    bottom: 300px;
    right: 6%;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 50px;
    transition: 2s;
    z-index: 2;

}

.floating-button.show {
    display: flex;
    justify-content: right;
}

.floating-button img {
    width: 70px;
    height: 90px;
}

.floating-button:hover {
    rotate: 45deg;
}

.floating-button:active {
    transition: all 0.5s ease-out allow-discrete;
}

/*AQUÍ EMPIEZA SECTION TWO*/

.sectionTwo {
    background-color: #FBFBFB;

}


.overCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 60px;
    margin-left: 30px;
    width: 100%;
    background-color: #FBFBFB;
    height: 500px;
    margin-bottom: 4%;

}

.textCarousel {
    margin-right: 50px;
    width: 500px;
    height: fit-content;
}

.carousel {
    width: 100%;
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 5px;
    box-sizing: border-box;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    /* border: 1px solid #ccc; */
}


.carousel-container {
    display: flex;
    transition: transform 1.5s ease-in-out;
    position: relative;
}

.carousel-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.75;
    border-radius: 10px;
    margin-top: 100px
}

.carousel-image.active {
    transform: scale(1.5) !important;
    opacity: 1;
    z-index: 2;
    width: 100%;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.carousel-image.inactive {
    opacity: 0.8;
    transform: blur(70%);
    z-index: 1;
}



h1 {
    color: #020540;
    font-size: 3.8em;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 0;
    line-height: 0.9;
}

p {
    color: #2C2C2E;
    font-size: 1.4em;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}

.paragraph {
    color: #200CE8;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.5;
}


.button-link {
    display: inline-block;
    background-color: #200CE8;
    color: #FBFBFB;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    /* Transición suave para los cambios de hover */
}

.button-link:hover {
    background-color: #FBFBFB;
    color: #200CE8;
    border: 2px solid #200CE8;
}





/*AQUÍ VA MISSION*/
.sectionThree {
    background-color: aaaaaa;
    margin-top: 2%;
    padding-bottom: 7%;

}

.overMission {
    background-color: #ffffff;
}

.textMission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.aboutMission {
    width: 40%;
    padding-left: 12%;
}


.titulo-principal,
.aboutMission h2,
.aboutMission p {
    text-align: right;
}

.titulo-principal {
    color: #020540;
    text-align: end;
    font-size: 4em;
    line-height: 1;
}



.aboutMission h2 {
    color: #200CE8;
    font-size: 2.5em;
    padding-left: 15%;

}

.aboutMission p {
    color: #2C2C2E;

}


.marte {
    width: 35%;
    animation: float 25s infinite ease-in-out;
    transition: transform 25s ease-in-out;

}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0) scale(1) rotate(2.142rad);
    }

    25% {
        transform: translate(0px, -100px) scale(1.2) rotate(-0.25turn);
    }

    50% {
        transform: translate(-80px, 0px) scale(1.5) rotate(2.142rad);
        ;
    }

    75% {
        transform: translate(180px, 90px) scale(0.8) rotate(-0.4turn);
    }

}


.containerFigure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBFBFB;
    padding-top: 2%;
    padding-bottom: 0;
}


figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}

figure>* {
    grid-area: 1/1;
    transition: .4s;
}

figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    transition: clip-path 0.4s ease-in-out;
    height: 600px !important;
    width: 450px !important;

}
.figcaptionOrbitaBaja{
    max-width: 450px;
    padding:0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titleOrbitaBaja{
    font-size: 4.02rem;
    padding-top: 20px;
    padding-left: 15px;

}

.titleSuborbital,
.titleMarte {
    font-size: 4rem;
    padding-left: 20px
}

.textSuborbital p, 
.textOrbitaBaja p,
.textMarte p {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255, 0.6);
   
}
.textOrbitaBaja,
.textMarte,
.textSuborbital {
    padding: 120px 100px 20px 25px;
    display: flex;
}
.textSuborbital {
    padding-top: 85px;
}

figure:hover figcaption {
    --_i: 0%;
}

figure:hover img {
    transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #FBFBFB;
    }
}

.imageMission {
    width: 550px;
    height: 600px;
}


/*AQUÍ VA EL COUNTDOWN*/
.countdownContainer {
    align-items: center;
    background-color: #200CE8;
    display: flex;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 3%;
}

.container {
    color: #FBFBFB;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #FBFBFB;
}

.container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}




/* AQUÍ VA EL FAQ*/
.faq-section {
    max-width: 900px;
    margin: 0 auto;
    background-color: #FBFBFB;
    padding: 4%;
    color: #200CE8;
    border-right: 2px solid #200CE8;
    border-bottom: 2px solid #200CE8;
    border-left: 2px solid #200CE8;

}

.faq-header {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #200CE8;

}

.faq-header>p {
    font-size: 2em;
    color: #020540;
    padding: 0;
}

.faq {
    font-size: 4.55em;
    color: #200CE8;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

details {
    cursor: pointer;
}

summary:focus-visible {
    outline: 2px solid orange;
    outline-offset: 8px;
    border-radius: 4px;
}

h4 {
    width: 760px;
}

summary {
    font-size: 1.3em;
    color: #200CE8;
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin-bottom: 5px;
}

summary::marker {
    display: none;
    content: "";
}

.material-symbols-outlined {
    margin-top: 4px;
    color: #FBFBFB;
}

details>p {
    max-width: 650px;
    color: #020540;
    font-size: 1.1em;
    line-height: 155%;
    letter-spacing: .1px;
    margin-bottom: 40px;
    padding-left: 10px;
}

hr {
    border: 1px solid #020540;
    margin-block-end: 30px;
}

.arrowFAQ {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 70px;

}



/*FORMULARIO*/

.form-Title {
    font-size: 2.55em;
    color: #200CE8;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
}


#miFormulario {
    background-color: #200CE8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;

}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
    flex: 1;
    padding: 10px 45px;
    /* Espacio suficiente para no solapar el texto con el icono */
    height: 40px;
    border: none;
    /* No border */
    border-radius: 10px;
    /* Rounded borders */
    background-color: #FBFBFB;
    /* Slightly lighter dark shade for input backgrounds */
    color: #020540;
    /* White text for inputs */
    font-size: 14pt;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    outline: none;

}

.input-container textarea {
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 40px;
    height: auto;
    min-height: 60px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #020540;
    font-size: 1.3em;
    z-index: 3;
}



.input-container:hover {
    scale: 1.05;

}


.input-container input:hover {
    background-color: #FBFBFB;

}

.input-container textarea:hover {
    background-color: #FBFBFB;

}


.input-container:hover i {
    scale: 1.05;
    color: #200CE8;

}

.input-container:hover textarea {
    color: #200CE8;
}

.input-container:hover input {
    color: #200CE8;
}




.botoncito {
    background-color: #FBFBFB;
    color: #200CE8;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    margin-top: 2%;
    transition: all 0.3s ease;
    /* Transición suave para los cambios de hover */
    align-self: center;
    /* Centra el botón en el formulario */
}

.botoncito:hover {
    background-color: transparent;
    color: #FBFBFB;
    border: 2px solid #FBFBFB;
}

.botoncito:active {
    background-color: #00F4CC;
    color: #020540;
}



/* Estilos para el overlay */
.overlay {
    background-color: #020540;
    position: fixed;
    top: 2%;
    left: 15%;
    justify-content: center;
    display: none;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
    z-index: 999;
    /* Asegura que esté sobre todo el contenido */
}

/* Estilo para la ventana emergente personalizada */
.popup {
    justify-content: center;
    align-items: center;
    padding: 140px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #200CE8;
    text-align: center;
}

.popup button {
    margin: 10px;
}

.popup h2 {
    text-align: center;
    color: #FBFBFB;
    font-size: 2.5em;
}

.popup h3 {
    text-align: left;
    font-size: 1.5em;
}

.popup ol li {
    text-align: left;
    font-size: 1.2em;
}

mark {
    background-color: #200CE8;
    color: #FBFBFB;
}

.aceptacion {
    text-align: center;
    color: #FBFBFB;
    font-size: 1em;
    opacity: 0.2;
    line-height: 1;
}



/* AQUÍ VA FOOTER*/
.containerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #200CE8;
    padding: 10px;
    width: 100%;
    height: 220px;
    font-size: 16px;
}

.contacto {
    align-items: start;
}

.containerFooter p {
    margin: 2%;
    padding: 0;
    justify-content: left;
    color: #FBFBFB;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.2;
    max-width: 25%;
}

.mail,
.tel {
    color: #FBFBFB;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Space Grotesk", sans-serif;
}

#iconosRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10PX;
    padding: 0px;
}

#facebook:hover,
#instagram:hover,
#twitter:hover {
    scale: 1.2;
    cursor: pointer;
    
}

#iconosRedes img {
    height: 25px !important;
    width: 25px !important;
    margin: 10PX;
    padding: 0px;
}